html {
  font-size: 62.5%;
  background: #f3f5f7;
}

.header_title {
  text-align: center;
  margin: 0 auto;
  font-size: 2.4rem;
  width: 600px;
  background: #a1a1a1;
}

.base_table {
  border: 3px solid #333;
  background: #ffff00;
  width: 600px;
  margin: 0 auto;
}
